.card {
  &__body {
    background: red;
    border-radius: var(--border-radius-default);
    padding: var(--padding-block) var(--padding-inline);
  }

  &__title {
    font-family: 'montserrat';
  }

  &__text {

  }
}